:root{
    --degradado: linear-gradient(to right, #F9D976, #8A6B2D);
    --negro: #0F0F0F;
    --blanco: #FFFFFF;
    --gris: #A0A0A0;
    --huezo: #EFEFEF;
    --dorado: #C29947;
    --sombra: #c2994705;
    --doradoClaro: #FFE8A3;


    --movil-txt-1: 25px;
    --movil-txt-2: 20px;
    --movil-txt-3: 15px;
    --movil-txt-4: 10px;


    --tablet-txt-1: 43.75px;
    --tablet-txt-2: 35px;
    --tablet-txt-3: 26.25px;
    --tablet-txt-4: 17.5px;
}

body, main{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

img, svg{
    max-width: 100%;
    height: auto;
}

p, h1{
    margin: 5px;
}

.cont-tlt-inicio, .puntuacion-grande-estadisticas{
    font-size: var(--movil-txt-1);
}

.tlt-ubimarket, .tlt-info, .tlt-estadisticas, .tlt-descargar, .tlt-item-preferirnos{
    font-size: var(--movil-txt-2);
}

.cont-txt-inicio, .nav-pags-movil, .txt-descargar-inicio, .txt-demo, .subtlt-preferirnos, .txt-item-preferirnos, .txt-info, .txt-punto-info, .txt-estadisticas, .txt-descargar, .txt-btn-descargar, .nombre-eslogan-enlaces, .tlt-contacto-enlaces, .tlt-enlaces-rapidos, .txt-item-puntuacion-estadisticas, .txt-eslogan-enlaces{
    font-size: var(--movil-txt-3);
}

.enlace-rapido, .contacto, .txt-footer{
    font-size: var(--movil-txt-4);
}






header{
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'ces ces ces ces .   .   cma';
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--dorado);
    background: var(--negro);
}

.cont-eslogan{
    grid-area: ces;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eslogan{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--blanco);
    gap: 10px;
}

.cont-img-icono{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-eslogan-inicio{
    max-height: 70%;
    width: auto;
    object-fit: contain;
}

.tlt-ubimarket{
    white-space: nowrap;
}



.menu-pags{
    grid-area: mnp;
    display: none;
}


.cont-menu-amburguesa{
    grid-area: cma;
    width: 60%;
    max-width: 40px;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    cursor: pointer;
}


.cont-menu-movil{
    grid-area: cmn;
    position: absolute;
    top: 100%;     
    left: 0;
    right: 0;
    background: var(--negro);
    display: none;
    z-index: 90;
}

.cont-menu-movil.show {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-bottom: 1px solid var(--dorado);
}

.menu-movil{
    width: 100%;
    height: 100%;
}

.nav-pags-movil{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.nav-pags-movil a{
    margin-top: 8px;
}

.nav-pags{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}






main{
    height: auto;
    background: var(--negro);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'ini'
    'pre'
    'inf'
    'est'
    'des'
    'enl'
    'pie';
    color: var(--blanco);
}






.inicio{
    grid-area: ini;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-seccion-inicio{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cont-tlt-inicio{
    margin: 0;
}

.cont-txt-inicio{
    color: var(--gris);
}

.cont-btn-descargar-inicio{
    width: 100%;
    background: var(--degradado);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.cont-svg-descargar-inicio{
    width: 8%;
    height: auto;
}

.txt-descargar-inicio{
    color: var(--negro);
}

.cont-btn-demo{
    width: 100%;
    background: var(--negro);
    border: 1px solid var(--dorado);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
}

.txt-demo{
    color: var(--dorado);
}


.cont-svg-demo{
    width: 8%;
    height: auto;
}

.img-inicio{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 50px 0;
}





.preferirnos{
    grid-area: pre;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-preferirnos{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cont-info-preferirnos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.tlt-preferirnos{
    font-size: var(--movil-txt-2);
    margin: 0 auto;
    text-align: center;
}

.subtlt-preferirnos{
    color: var(--gris);
    text-align: center;
    margin: 0 auto;
}

.item-info-preferirnos{
    width: 100%;
    border: 1px solid var(--dorado);
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
}

.item-info-preferirnos:hover{
    border: 1px solid var(--doradoClaro);
    box-shadow: 0 0 10px var(--sombra);
    transition: 400ms;
}

.item-info-preferirnos:not(:hover){
    box-shadow: none;
    transition: 400ms;
}

.cont-info-preferirnos{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.cont-icono-item-preferirnos{
    width: 15%;
    max-width: 50px;
    padding: 10px 0;
    background: var(--degradado);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-svg-item-preferirnos{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tlt-item-preferirnos{
    color: var(--dorado);
}

.txt-item-preferirnos{
    color: var(--gris);
    text-align: start;
}







.info{
    grid-area: inf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-info{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.txt-info{
    color: var(--gris);
}

.cont-puntos-info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.puntos-info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont-icono-punto-info{
    width: 5%;
    max-width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--degradado);
    border-radius: 50%;
}

.cont-svg-punto-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-punto-info{
    width: 85%;
    height: auto;
    color: var(--gris);
}

.img-info{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 50px 0;
}








.estadisticas{
    grid-area: est;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-estadisticas{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cont-cuerpo-estadisticas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.txt-estadisticas{
    color: var(--gris);
}

.puntuaciones-estadisticas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont-puntuacion-estadistica{
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.puntuacion-grande-estadisticas{
    color: var(--dorado);
}

.txt-item-puntuacion-estadisticas{
    color: var(--gris);
}

.img-estadisticas{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 50px 0;
}







.descargar{
    height: auto;
    grid-area: des;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-descargar{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
}

.tlt-descargar{
    text-align: center;
}

.txt-descargar{
    text-align: center;
    color: var(--gris);
}

.cont-btn-descargar{
    width: 80%;
    max-width: 275px;
    height: auto;
    border-radius: 10px;
    background: var(--degradado);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.cont-btn-descargar:hover{
    box-shadow: 0 0 10px var(--dorado), 0 0 10px var(--dorado);
    transition: 500ms;
}

.cont-btn-descargar:not(:hover){
    box-shadow: none;
    transition: 500ms;
}

.cont-svg-descargar{
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-btn-descargar{
    color: var(--negro);
}







.enlaces{
    grid-area: enl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-enlaces{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eslogan-enlaces{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.cont-eslogan-enlaces{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.cont-img-eslogan-enlaces{
    width: 15%;
    height: auto;
}

.txt-eslogan-enlaces{
    color: var(--gris);
}

.cont-enlaces-rapidos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tlt-enlaces-rapidos{
    margin: 0;
}

.enlaces-rapidos{
    height: auto;
}

.lista-enlaces-rapidos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.lista-enlaces-rapidos a{
    margin-top: 8px;
    margin-left: 0;
}

.enlace-rapido{
    color: var(--gris);
    margin-left: 0;
}

.cont-contacto{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tlt-contacto-enlaces{
    margin: 0;
}

.cont-contacto-enlaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto{
    color: var(--gris);
    margin: 0;
}








footer{
    grid-area: pie;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-footer{
    text-align: center;
}

.txt-footer{
    color: var(--gris);
}






@media (min-width: 650px){
    .cont-tlt-inicio{
        font-size: var(--tablet-txt-1);
    }

    .tlt-ubimarket, .tlt-info, .tlt-estadisticas, .tlt-descargar, .tlt-item-preferirnos{
        font-size: var(--tablet-txt-2);
    }

    .cont-txt-inicio, .nav-pags-movil, .txt-descargar-inicio, .txt-demo, .subtlt-preferirnos, .txt-item-preferirnos, .txt-info, .txt-punto-info, .txt-estadisticas, .txt-descargar, .txt-btn-descargar, .nombre-eslogan-enlaces, .tlt-contacto-enlaces, .tlt-enlaces-rapidos, .txt-item-puntuacion-estadisticas, .txt-eslogan-enlaces{
        font-size: var(--tablet-txt-3);
    }

    .enlace-rapido, .contacto, .txt-footer{
        font-size: var(--tabler-txt-4);
    }

    .menu-pags {
        display: none;
    }

    .cont-menu-amburguesa{
        display: flex;
    }

    .cont-menu-movil{
        display: none;
    }

    .cont-seccion-inicio{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'cti cti cti cti cti cti cti'
        'cxi cxi cxi cxi cxi cxi cxi'
        'bdi bdi bdi btd btd .   .  '
        'imi imi imi imi imi imi imi';
        gap: 20px;
    }

    .cont-tlt-inicio{
        grid-area: cti;
    }

    .cont-txt-inicio{
        grid-area: cxi;
    }

    .cont-btn-descargar-inicio{
        grid-area: bdi;
        margin-bottom: 0;
    }

    .cont-btn-demo{
        grid-area: btd;
    }

    .img-inicio{
        grid-area: imi;
    }

    .cont-preferirnos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'inp inp'
        'it1 it2'
        'it3 it4';
        gap: 25px;
    }

    .cont-info-preferirnos{
        grid-area: inp;
        margin: 0 auto;
    }

    .item-info-preferirnos{
        margin-bottom: 0;
        height: 90%;
    }

    .item1{
        grid-area: it1;
    }

    .item2{
        grid-area: it2;
    }

    .item3{
        grid-area: it3;
    }

    .item4{
        grid-area: it4;
    }
}





@media (min-width: 800px) {
    header{
        grid-template-areas: 
        'ces ces .   mnp mnp mnp mnp';
    }
    .menu-pags {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .nav-pags {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }

    .cont-menu-amburguesa{
        display: none;
    }

    .cont-menu-movil.show{
        display: none;
    }

    .cont-enlaces{
        flex-direction: row;
    }

    .eslogan-enlaces, .cont-enlaces-rapidos, .cont-contacto{
        width: 30%;
    }

    .cont-contacto{
        justify-content: start;
    }
}





@media (min-width:1000px){
    .img-inicio, .img-info, .img-estadisticas{
        max-width: 500px;
        margin: 0 auto;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'ini ini'
        'pre pre'
        'inf est'
        'des des'
        'enl enl'
        'pie pie';
        gap: 30px;
    }

    .cont-seccion-inicio{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas: 
        'cti cti cti cti cti imi imi imi imi imi'
        'cxi cxi cxi cxi cxi imi imi imi imi imi'
        'bdi bdi bdi btd btd imi imi imi imi imi';
        gap: 20px;
    }

    .cont-btn-descargar-inicio, .cont-btn-demo{
        padding: 0;
    }

    .img-inicio{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .cont-preferirnos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'inp inp inp inp'
        'it1 it2 it3 it4';
        gap: 30px;
    }

    .cont-estadisticas{
        flex-direction: column-reverse;
    }
}
