:root{
    --degradado: linear-gradient(to right, #F9D976, #8A6B2D);
    --negro: #0F0F0F;
    --blanco: #FFFFFF;
    --gris: #A0A0A0;
    --huezo: #EFEFEF;
    --dorado: #C29947;
    --sombra: #c2994705;
    --doradoClaro: #FFE8A3;
}

body, main{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

img, svg{
    max-width: 100%;
    height: auto;
}

header{
    grid-area: cab;
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'ces ces ces ces .   .   cma';
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--dorado);
    background: var(--negro);
}

.cont-eslogan{
    grid-area: ces;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eslogan{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--blanco);
}

.cont-img-icono{
    width: 35%;
    height: auto;
}

.tlt-ubimarket{
    font-size: 1.2em;
}



.menu-pags{
    grid-area: mnp;
    display: none;
}


.cont-menu-amburguesa{
    grid-area: cma;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    cursor: pointer;
}


.cont-menu-movil{
    grid-area: cmn;
    position: absolute;
    top: 100%;     
    left: 0;
    right: 0;
    background: var(--negro);
    display: none;
    z-index: 90;
}

.cont-menu-movil.show {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-bottom: 1px solid var(--dorado);
}

.menu-movil{
    width: 100%;
    height: 100%;
}

.nav-pags-movil{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-size: 0.9em;
}

.nav-pags-movil a{
    margin-top: 8px;
}

.nav-pags{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}






main{
    height: auto;
    background: var(--negro);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'ini'
    'pre'
    'inf'
    'est'
    'des'
    'enl'
    'pie';
    color: var(--blanco);
}






.inicio{
    grid-area: ini;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-seccion-inicio{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cont-tlt-inicio{
    font-size: 1.6em;
    margin: 0;
}

.cont-txt-inicio{
    font-size: 1em;
    color: var(--gris);
}

.cont-btn-descargar-inicio{
    width: 100%;
    background: var(--degradado);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.cont-svg-descargar-inicio{
    width: 8%;
    height: auto;
}

.txt-descargar-inicio{
    color: var(--negro);
    font-size: 0.9em;
}

.cont-btn-demo{
    width: 100%;
    background: var(--negro);
    border: 1px solid var(--dorado);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
}

.txt-demo{
    font-size: 0.9em;
    color: var(--dorado);
}


.cont-svg-demo{
    width: 8%;
    height: auto;
}

.img-inicio{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--sombra), 0 50px 10px var(--sombra), 0 -50px 10px var(--sombra);
    margin-top: 55px;
    margin-bottom: 55px;
}





.preferirnos{
    grid-area: pre;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cont-info-preferirnos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: auto;
}

.tlt-preferirnos{
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

.subtlt-preferirnos{
    font-size: 1em;
    color: var(--gris);
    text-align: center;
}

.item-info-preferirnos{
    width: 95%;
    border: 1px solid var(--dorado);
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.item-info-preferirnos:hover{
    border: 1px solid var(--doradoClaro);
    box-shadow: 0 0 10px var(--sombra);
    transition: 400ms;
}

.item-info-preferirnos:not(:hover){
    box-shadow: none;
    transition: 400ms;
}

.cont-info-preferirnos{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.cont-icono-item-preferirnos{
    width: 15%;
    padding: 10px 0;
    background: var(--degradado);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-svg-item-preferirnos{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tlt-item-preferirnos{
    color: var(--dorado);
    font-size: 1.2em;
}

.txt-item-preferirnos{
    font-size: 0.8em;
    color: var(--gris);
}







.info{
    grid-area: inf;
}

.estadisticas{
    grid-area: est;
}

.descargar{
    grid-area: des;
}

.enlaces{
    grid-area: enl;
}

footer{
    grid-area: pie;
}







@media (min-width: 768px) {
  .menu-pags {
    display: block;
  }
  
  .nav-pags {
    display: flex;
    list-style: none;
  }

  .cont-menu-amburguesa{
    display: none;
  }
}
