:root{
    --degradado: linear-gradient(to right, #F9D976, #8A6B2D);
    --negro: #0F0F0F;
    --blanco: #FFFFFF;
    --huezo: #EFEFEF;
    --dorado: #C29947;
    --sombra: #c2994705;
    --doradoClaro: #FFE8A3;
}

@font-face {
  font-family: 'Saira stencil';
  src: url('../fonts/SairaStencil-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.eslogan, .cont-tlt-inicio, .tlt-preferirnos, .tlt-item-preferirnos, .tlt-info, .tlt-estadisticas, .puntuacion-grande-estadisticas, .tlt-descargar{
    font-family: 'Saira stencil';
}

nav, .txt-inicio, .txt-descargar-inicio, .txt-demo, .subtlt-preferirnos, .txt-item-preferirnos, .txt-info, .txt-punto-info, .txt-estadisticas, .txt-item-puntuacion-estadisticas, .txt-descargar, .txt-btn-descargar{
    font-family: 'Space grotesk';
}

a{
    color: var(--blanco);
    text-decoration: none;
}

.destacado{
    color: var(--dorado);
}

hr{
    background: var(--dorado);
    width: 100%;
}
