:root{
    --degradado: linear-gradient(to right, #F9D976, #8A6B2D);
    --negro: #0F0F0F;
    --blanco: #FFFFFF;
    --huezo: #EFEFEF;
    --dorado: #C29947;
}

@font-face {
  font-family: 'Saira stencil';
  src: url('../fonts/SairaStencil-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.eslogan, .tlt-inicio{
    font-family: 'Saira stencil';
}

.txt-inicio{
    font-family: 'Space grotesk';
}

a{
    color: var(--blanco);
    text-decoration: none;
}

.destacado{
    color: var(--dorado);
}
